langchain-core
langchain-openai
openai

langchain-google-genai
google-generativeai

langchain-huggingface
transformers
huggingface-hub

langchain-community
langchain-text-splitters
langchain-experimental

langchain-groq
groq

chromadb
sentence-transformers

pypdf
beautifulsoup4

python-dotenv

numpy
scikit-learn

streamlit